<%- include('parts/html_header') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="mb-3">
                  <label for="orderByCol" class="form-label">欄位</label>
                  <select name="orderByCol" id="orderByCol" class="form-select" onchange="print_value();">
                      <option value="name">name</option>
                      <option value="age">age</option>
                      <option value="id">id</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="orderByRule" class="form-label">規則</label>
                    <select name="orderByRule" id="orderByRule" class="form-select">
                        <option value="asc">由小到大</option>
                      <option value="desc">由大到小</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>

        <table class="table table-striped mt-5">
            <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i of sales){ %>
                <tr>
                    <td><%= i.id %></td>
                    <td><%= i.name %></td>
                    <td><%= i.age %></td>
                </tr>
            <% } %>
        </tbody>
        </table>
        </div>
    </div>
</div>

<script>
    // a[col]
    let selection = document.getElementById('orderByCol').value;
    
</script>


<%- include('parts/script') %>
<%- include('parts/html_footer') %>